.video-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.custom-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.video-list h1 {
    font-size: 1.2em;
}


.video-list > .table {
    cursor: pointer;
}
