.video-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.video-list {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
  }

.custom-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.right-header {
    display: flex;
    align-items: center;
}

.video-list h1 {
    font-size: 1.2em;
}

.add-icon {
    cursor: pointer;
    padding-right: 0.2em;
}

.video-list button {
    background: transparent;
    border: none;
}


.video-list > .table {
    cursor: pointer;
}
