.video-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
}

.video-list {
    /* background-color: #F5F5F5; */
    background-color: #CCDEE2;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
  }

.custom-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.video-list h1 {
    font-size: 1.2em;
}


.video-list > .table {
    cursor: pointer;
}
