.comments-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.comment-input-container {
    display:flex;
    justify-content: space-between;
}

.comment-input {
    width: 100%;
    border: 1px solid black;
}

.comment-overflow {
    word-wrap: break-word;
}

.something {
    max-width: 500px;
    width: 500px;
}