.comments-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.comment-section-container {
    margin-top: 1em;
    height: 50%;
    padding-bottom: 3em;
}

.comment-input-container {
    display:flex;
    justify-content: space-between;
}

.comment-input {
    width: 100%;
}

.comment-input-container button {
    padding: 0.5em;
    border: 1px solid;
    background: transparent;
}


.comment-table {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .comment-section-container h1 {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 800px) {
    .comment-section-container h1 {
        font-size: 1.3em;
    }
}