.comments-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.comment-input {
    width: 100%;
    border: 1px solid black;
}

.comment-overflow {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}