.header-container {
    padding: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}

.custom-button {
    width: 20px;
    height: 20px;
}

.search-bar {
    margin-right: 10px;
}

.right-header {
    justify-self: end;
}

.navigation {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav-style {
    color: black;
    
}
