.header-container {
    width: 100%;
    padding: 1em;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
}

.main-header-content {
    display: flex;
    height: 100%;

}
.nav-style {
    color: black;
}

.logout-button {
    border: none;
    background: transparent;
}

.logout-button:hover {
    opacity: 0.5
}

.header-greeting {
    padding-left: 1em;
    padding-right: 1em;
}
