.caption-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.custom-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.transcription-table {
    max-height: 40vh;
    overflow-y: auto;
}

#transcriptions {
    border-collapse: collapse;
    width: 100%;
}
  
#transcriptions td, #transcriptions th {
    border: 1px solid;
    padding: 8px;
    cursor: pointer
}

tr:hover {
    opacity: 0.5;
}


#transcriptions th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    color: black;
}


@media only screen and (max-width: 1000px) {
    .caption-header h1 {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 800px) {
    .caption-header h1 {
        font-size: 1.3em;
    }
}