.caption-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.custom-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.transcription-table {
    max-height: 40vh;
    overflow-y: auto;
}

#transcriptions {
    border-collapse: collapse;
    width: 100%;
}
  
#transcriptions td, #transcriptions th {
    border: 1px solid #ddd;
    padding: 8px;
}

#transcriptions tr:nth-child(even){
    background-color: #f2f2f2;
}

#transcriptions tr:hover {
    background-color: #ddd;
}

#transcriptions th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: lightskyblue;
    color: black;
}