@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

.red-heading {
    color: #C1263A;
  }

.header {
  background-color: lightblue;
  padding-top: 10px;
  margin-bottom: 20px;
}

.play-heading {
  margin-left: 20px;
  margin-top: 10px;
}

.table {
  font-size: 12px;
}

.table td, .table th {
  padding: 7px;
}


.video-list button {
  border: none;
  background-color: #CCDEE2;
}

.captionTable {
  cursor: pointer;
}

.search-bar {
    margin-right: 10px;
}